body, html{
  background-image: url('Disco.jpg');
  background-size: cover;              
  background-repeat: no-repeat;  
  height: 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
  background-size: 100%;
}

.sponge{
  content:url('http://i.imgur.com/yBPMiCp.gif');
  border-radius:30px;
  position:absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  width: 100px;
  height: 100px;
}

.putin{
  content:url("http://i.imgur.com/E7YAB51.gif");
  border-radius:30px;
  position:absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  width: 100px;
  height: 100px;
}

.tube{
  content:url('https://media2.giphy.com/media/3ohc14PonzorDD9FOU/giphy.gif');
  border-radius:30px;
  position:absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  width: 100px;
  height: 100px;
}

.transform {
   transform: rotate(0.25turn)
}






