body, html{
  background-image: url('Disco.jpg');
  background-size: cover;                
  background-repeat:   repeat;
  height: 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:10px;
  position:absolute;
}

.blinky{
  content:url('http://i.imgur.com/yBPMiCp.gif');
  border-radius:10px;
  position:absolute;
}

.egypt{
  content:url("http://i.imgur.com/E7YAB51.gif");
  border-radius:10px;
  position:absolute;
}

.break{
  content:url('https://media2.giphy.com/media/3ohc14PonzorDD9FOU/giphy.gif');
  border-radius:10px;
  position:absolute;
}

/*.break:hover {
  transform: scale(1);
}*/

.transform {
   transform: rotate(0.25turn)
}






